

.discord-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.discord-hover-image {
    display: none;
    position: absolute;
    top: 110%; /* Posiziona l'immagine sotto l'icona */
    left: -200%;
    transform: translateX(-60%);
    width: 400px; /* Regola la dimensione dell'immagine */
    border-radius: 10px;
}

.discord-container:hover .discord-hover-image {
    display: block;
}


.video-container {
    margin-top: 300px; /* Utilizza la variabile per il margine superiore */
    padding: 20px; /* Spaziatura attorno al video */
    border-radius: 10px; /* Angoli arrotondati */
    text-align: center; /* Allinea il video al centro */
    width: 100%; /* Occupa tutta la larghezza disponibile */
    max-width: 1200px; /* Imposta una larghezza massima per il contenitore del video */
    margin-left: auto; /* Centra il contenitore orizzontalmente */
    margin-right: auto; /* Centra il contenitore orizzontalmente */
}

video {
    width: 80%; /* Larghezza del video */
    height: auto; /* Altezza automatica */
    border-radius: 10px; /* Angoli arrotondati */
    background-color: #000000;
}

.video-title {
    font-size: 2vw; /* Dimensione del titolo scalabile */
    margin-bottom: 10px;
    color: #ffffff; /* Margine inferiore per separare il titolo dal video */
}

.navigation {
    text-align: left; /* Allinea a sinistra */
    padding: 10px 20px; /* Padding attorno */
}

.back-button {
    color: #e6e131; /* Colore del link */
    font-size: 18px; /* Dimensione del font */
}

.titles {
    text-align: center; /* Allinea al centro */
    margin: 20px 0; /* Margini superiori e inferiori */
}

.titles h2 {
    font-size: 24px; /* Dimensione del titolo */
}

.container {
    margin-left: 100px; /* Margine sinistro */
    margin-right: 100px; /* Margine destro */
    margin-top: 0px; /* Margine superiore */
    margin-bottom: 0px; /* Margine inferiore */
    display: flex;
    height: auto;
    justify-content: space-between; /* Spaziatura tra i box */
    gap:100px; /* Spazio tra i due box */
    overflow: hidden; /* Nasconde qualsiasi overflow */
}

.box {
    background-color:  #ffffff; /* Colore di sfondo */
    border-radius: 100px; /* Raggio del bordo */
    height: auto;
    padding: 100px; /* Padding interno */
    width: 100px; /* Larghezza del box */
    box-shadow: 0px 0px 40px #ffffff; /* Ombra */
}

.description-title {
    font-size: 2pc; /* Dimensione del titolo scalabile */
    margin-bottom: 10px; /* Margine inferiore */
    color: #ffffff;
}

.description-box {
    border: #ffffff;/* Bordo della descrizione */
    padding: 100px; /* Padding interno */
    border-radius: 20px; /* Angoli arrotondati */
    background-color: #ffffff;/* Sfondo semi-trasparente */
    margin-top: 0px; /* Margine superiore */
}


/* descrizione progetto*/
.image-description {
    width: 100%; /* Occupa tutta la larghezza del contenitore */
    max-width: 1200px; /* Larghezza massima per il contenitore */
    margin: 20px auto; /* Centra il contenitore con margine superiore */
    text-align: center; /* Allinea il testo al centro */
    padding: 20px; /* Padding interno */
}

.image-title {
    font-size: 2.5vw; /* Dimensione scalabile per il titolo */
    margin-bottom: 20px; /* Margine inferiore */
    color: #ffffff; /* Colore del titolo */
}

.project-image {
    width: 700%; /* Larghezza dell'immagine */
    height: auto; /* Mantiene l'aspetto dell'immagine */
    border-radius: 10px; /* Angoli arrotondati per l'immagine */
    margin-bottom: 10px; /* Margine inferiore */

}

.image-description-text {
    font-size: 1.5vw; /* Dimensione scalabile per il testo descrittivo */
    color: #ffffff; /* Colore del testo della descrizione */
    max-width: 100%; /* Limita la larghezza del testo descrittivo */
    margin: 0 auto; /* Centra il testo */
}



/* Ogni elemento di testo e immagine */
.text-image-item-project {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif; /* Font moderno e informale */
}

/* Testo */
.text-image-item-project p {
    font-size: 18px; /* Testo più leggibile */
    margin: 0;
    color: #f5f5f5; /* Colore chiaro per contrasto */
    font-weight: 400; /* Peso normale per un look più rilassato */
    text-transform: none; /* No maiuscolo forzato per naturalezza */
    letter-spacing: 0.3px; /* Distanza più equilibrata tra le lettere */
    line-height: 1.4; /* Migliora la leggibilità */
}

.image-container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.responsive {
    max-width: 100%; /* Ensures the image width doesn't exceed the container's width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any unwanted space below the image */
}