body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Sfondo nero */
    color: #ffffff; /* Testo bianco per contrasto */
}

header {
    background: #000000; /* Sfondo nero per l'intestazione */
    padding: 40px 20px 20px; /* Spazio sopra e sotto l'intestazione */
}

.header-content {
    display: flex; /* Disposizione flessibile per il contenuto dell'intestazione */
    justify-content: space-between; /* Spaziatura tra i contenuti */
    align-items: center; /* Allinea verticalmente al centro */
}

.left {
    text-align: left; /* Allinea il testo a sinistra */
}

.right {
    text-align: right; /* Allinea il testo a destra */
}

.portfolio-image {
    width: 100px; /* Larghezza delle immagini */
    height: auto; /* Mantiene le proporzioni */
    margin-left: 10px; /* Spazio tra le immagini */
    transition: transform 0.3s, filter 0.3s; /* Transizione dolce per il cambiamento di dimensione */
}

    .portfolio-image:hover {
        transform: scale( 1.1 ); /* Ingrandimento dell'immagine al passaggio del mouse */
        animation: vibrate 0.2s linear infinite; /* Inizio dell'animazione di vibrazione */
    }

@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-1px, -1px);
    }

    50% {
        transform: translate(1px, 1px);
    }

    75% {
        transform: translate(-1px, 1px);
    }

    100% {
        transform: translate(0);
    }
}

h1,
h2,
h3 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 10px;
    background: #1a1a1a; /* Colore grigio scuro per le sezioni */
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000000; /* Sfondo nero per il footer */
    color: #ffffff; /* Testo bianco per il footer */
}
